<% height = (project.youtube) ? 180 : 300 %>
<div class="portfolio" style="height: <%= height + 10 %>; martin-bottom:20px; padding:0">
    <%= lazy_image_tag project.image, class: "projectImage", width: "320", height: height, style: "padding:0;margin:0;border:2p solid #ddd;" %>
    <div class="panel panel-default footer" style="background:#fff;color:#333;padding:0;margin:0;border:none;width:320px">
        <h2 style="padding:0;text-align:center;margin:0;font-size:15px"><%= project.title %></h2>
        <p style="text-align:center"><%= project.description %></p>
    </div> 
</div>
