<div class="myPortfolio responsive">   
  <h2 class="text-center"><%= @user.username %>のポートフォリオ</h2>
  <table class="table">
    <thead>
      <tr>
        <th width="320">イメージ</th>
        <th>タイトル</th>
        <th>概要</th>
      </tr>
    </thead>

    <tbody>
      <% @user.projects.each do |p| %>
        <tr>
          <th><img src="<%= p.image %>"></th>
          <th><%= p.title %></th>
          <th><%= p.description %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>