<% content_for :header do %>
    <%= render "layouts/breadcrumb", breadcrumb: {
        "ポートフォリオ登録": new_project_path
        } %>
<% end %>

<div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-7">
        <div class="jumbotron">
            <h3 class="text-center">ポートフォリオを登録する</h3>
            <%= render 'form' %>
            <%= link_to 'Back', projects_path %>
        </div>
    </div>

    <div class="hidden-xs hidden-sm col-md-3">
        <%= render "layouts/famous", famous: @famous %>
    </div>
</div>