// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.famous {
    h3 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        li {
            padding: 0;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            border: 2px solid #ddd;
            border-radius: 5px;
            img {
                width: 100%;
            }
            .detail {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                -webkit-transition: .3s;
                transition: .3s;
                opacity: 0;
            }
            &:hover .detail{ 
                opacity: 1;
            }
            h3, p {
                text-align: center;
                color: #fff;
            }
        }
    }
}



.projects.new {
    h1 {
        margin-bottom: 20px;
    }
    form {
        .selected {
            border-bottom: 2px solid #F06292;
        }
        .urlType {
            cursor: pointer;
        }
        img {
            height: 300px;
        }
    }
}

.projects.show {
    .commentTable {
        max-height: 400px;
        overflow: scroll;
        margin: 0 10%;
        p {
            position: relative;
            font-size: 13px;
            padding: 5px;
            padding-right: 30px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
            .delete {
                position: absolute;
                right: 5px;
                bottom: 0px;
            }
        }
    }
}

.projects.index {
    .projectsList {
        .project {
            margin-bottom: 10px;
            position: relative;
            background: #fff;
            overflow: hidden;
            width: 320px;
            box-shadow: 1px 1px 2px #e6e6e6;
            padding: 3px;
            border: 2px solid #ccc;
            img {
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
            }
            .mask {
                width: 320px;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.6); 
                -webkit-transition: .3s;
                transition: .3s;
                opacity: 0;
                h2 {
                    text-transform: uppercase;
                    text-align: center;
                    position: relative;
                    font-size: 17px;
                    padding: 10px;

                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    background: transparent;
                    margin: 20px 40px 0px 40px;
                    color: #fff;
                    opacity: 0;
                }
                p {
                    font-size: 12px;
                    position: relative;
                    padding: 10px 20px 20px;
                    text-align: center;
                    color: #fff;
                    opacity: 0;
                }
                a {
                    text-align: center;
                }
                .moreLink {
                    position: absolute;
                    bottom: 40px;
                    left: 85px;
                    width: 150px;
                }
                .created_at {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    font-size: 15px;
                    color: #ccc;
                    font-weight: bold;
                    padding: 10px;
                }
                .link {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    i {
                        padding: 5px;
                        background: #fff;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    .thisLink {
                        padding: 5px;
                        position: relative;
                        bottom: 40px;
                        background: #fff;
                        right: 0;
                        display: none;
                    }
                }
            }
            &:hover {
                .mask {
                    opacity:1;
                }
                h2, p, a {
                    opacity: 1;
                }
                img {
                    opacity: 0;
                }
            }
            .views {
                font-weight: bold;
                font-size: 15px;
                color: #333;
                position: relative;
                top: 5px;
                left: 4px;
            }
            .projectFotter {
                height: 40px;
            }
        }
    }
}